 #navbar {
    background-color: transparent;
    background: transparent;
}

/* video fond d'ecran page d'acceuil 1*/
video {
    background-size: cover;
    position: fixed;
  }

  #videoDiv{
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    position: relative;
}

#video1{
    width: 100%;
    height: auto;

}

#videoMessage{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    margin-top: 300px;
}

#titlePageAccueil{
  font-size: 6em;
}

/* page d'acceuil */

#navbarAllPage{
  background-color: #8C654F;
}


#allFooter{
  background-color: #8C654F;
}

/* .container-fluid{
  
} */

#textCard{
  background-color: #BDA68F;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cardArticle{
  background-color: #BDA68F;
}

#pageTableBord{
  background-color: #BDA68F;
}
h1{
    text-align: center;
}

#buttonAllPage{
  background-color: #8C654F;
}
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
   
 
  #cardFormContact{
    margin-top: 7em;
    background-color: #A6978A;
  }

  .card-body{
    margin-left: 20em;
  }

#tableDashboard{
margin-left: 15em;
} 

#colorText404{
  color: #8C654F;
}
/* 
 #colorTextAllPage{
  color: #8C654F;
 } */

 .article{
   background-color: #D6CABA;
 }

 .photoPageAccueil{
   margin-left: 10rem;
 }
 
 /* #C1AE9D */

 .container-fluid{
  text-align: center;
  background-color: #D6CABA;
 }

 #textColorPageAccueil{
   color: #8C654F;
 }

 /* .styleTextAccueil{
   
 } */


 .cardTitle{
   margin-top: 10em;

 }
 

 #imagePageContact{
   margin-left: 15em;
   margin-top: -10em;
 }

 #cardArticles{
   margin-top: 7em;
 }

.footerPageArticles{
  margin-top: 10px;
 } 