 #navbar {
    background-color: transparent;
    background: transparent;
}


/* //////////////////////////////////////////////////////////////////////////// */
/* caroussel de la page d'acceuil 1*/
video {
    background-size: cover;
    position: fixed;
  }

  #videoDiv{
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    position: relative;
}

#video1{
    width: 100%;
    height: auto;

}

#videoMessage{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    margin-top: 300px;
}

#titlePageAccueil{
  font-size: 6em;
}

/* page d'acceuil */

#navbar{
  background-color: #F2A679;
}


.carousel{
  width: 70%;
  height: 30%;
  display: inline;
}

#footerPageAccueil{
  background-color: #F2A679;
}
/* page toutes les categories ///////////////////////////////////////////// */
/* .content {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
} */



/* css page portrait ///////////////////////////////////////////////////// */


/* css page décoInterior //////////////////////////////////////////////////*/
.bodyPageDecoInterior {
    width: 100%;
    height: auto;
}


/* css de la page contact //////////////////////////////////////////////// */
h1{
    text-align: center;
}

.bodyPageContact{
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */

    background-image: url(assets/videoEtPhotoFondEcran/appareilPhotoBureauPc.jpg);
    
}



/* exemple de la galerie css */

/* .overflow-hidden{
    height: 100%;
  }
  
.overflow-hidden{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
  */
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
   

  /* css tableau de bord */
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  

/* css galery photo exemple 1 */



*{box-sizing:border-box}

img{

max-width: 100%;

}

/*pour le saut de page, on cree une class que l'on met en display:none*/
.target{

display: none

}


/* englobe le slider */

.cadre_diapo{

max-width: 600px;
margin: 2rem auto;
overflow: hidden;
	
	}

.interieur_diapo{
	
display: flex;
width: 400%;
transition: transform .6s ease-in-out
	
	}

.description{

position: relative;

}

.description span{

position: absolute;
left: 0;
top: 2%;
font-size: 75%;
display: flex;
padding: .5rem;
justify-content: center;
color: white;
background: hsla(0,0%,0%,.35)
	
	}
	
	
#votre_id1:target ~ .cadre_diapo .interieur_diapo{

transform:translatex(0)

}/*image 1*/

#votre_id2:target ~ .cadre_diapo .interieur_diapo{

transform:translatex(-25%)

}/*image 2*/

#votre_id3:target ~ .cadre_diapo .interieur_diapo{

transform:translatex(-50%)

}/*image 3*/

#votre_id4:target ~ .cadre_diapo .interieur_diapo{

transform:translatex(-75%)

}/*image 4*/





/*navigation avec images miniatures*/
.navigation_diapo{
	
display: flex; /*permet d'aligner les photos les unes à la suite des autres, on peut aussi utiliser le positionnement absolu*/
list-style-type: none;
margin: 0;
padding: 0
	
	}

.navigation_diapo li {
	
	padding: .25rem;
	
	}

.navigation_diapo img{

border: 3px solid white;
box-shadow:0 0 5px hsla(0,0%,0%,.4);

	
	}
	
	
	@media (min-width:31.25rem){
		
		.description span{
			
			font-size: initial
		
		}
	
	}
	