 #navbar {
    background-color: transparent;
    background: transparent;
}


/* //////////////////////////////////////////////////////////////////////////// */
/* caroussel de la page d'acceuil */
video {
    background-size: cover;
    position: fixed;
  }

/* page toutes les categories ///////////////////////////////////////////// */
.content {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}

.iconeReseauSociaux {
    margin-top: -6em;
    font-style: bold;

}



/* css page portrait ///////////////////////////////////////////////////// */
.containerPagePortrait {
    width: 80%;
    min-width: 400px;
    max-width: 800px;
    margin: auto;
}


/* css page décoInterior //////////////////////////////////////////////////*/
.bodyPageDecoInterior {
    width: 100%;
    height: auto;
}


/* css de la page contact //////////////////////////////////////////////// */
h1{
    text-align: center;
}

.bodyPageContact{
    background-image: url(assets/img/soeurVoiture4.png);
}


/* CSS de la page A propos ///////////////////////////////////////////////////*/

.bodyPageApropos{
    background-size: cover;
    background-attachment: fixed;
}


/* exemple de la galerie css */
